/* Estilos generales */
body {
    font-family: "Oswald", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #252424;
    color: #fafafa;
}

/* Barra de navegación */
header {
    background-color: #007bff;
    padding: 15px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Sección de animales */
.animal-section {
    padding: 40px 20px;
    text-align: center;
    margin-bottom: 40px;
}

.animal-section h2 {
    font-size: 2.5rem;
    color: #007bff;
}

.animal-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.animal-item {
    width: 250px;
    text-align: center;
}

.animal-item h3 {
    font-size: 1.8rem;
    margin-top: 10px;
    color: #007bff;
}

.animal-item p {
    font-size: 1rem;
    color: #e6e1e1;
    line-height: 1.6;
    margin-top: 10px;
}

.animal-img {
    width: 100%;
    height: auto;
    max-width: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Footer */
footer {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
    font-size: 14px;
}




/* Estilo del enlace */
.left-button a {
    margin-left: 0;
    color: #000000; /* Texto blanco */
    font-size: 16px; /* Tamaño del texto */
    font-weight: bold; /* Texto en negrita */
    background-color: #ffffff; /* Fondo del botón */
    padding: 10px 15px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Efecto de transición */
    
}

/* Efecto hover para el botón */
.left-button a:hover {
    background-color: #0061c9; /* Cambia el color al pasar el ratón */
}
